[submodule "ForgeCraftEngine/spdlog"]
	path = ForgeCraftEngine/spdlog
	url = https://github.com/gabime/spdlog
[submodule "ForgeCraftEngine/Vendor/spdlog"]
	path = ForgeCraftEngine/Vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "ForgeCraftEngine/Vendor/GLFW/glfw"]
	path = ForgeCraftEngine/Vendor/GLFW/glfw
	url = https://github.com/glfw/glfw
[submodule "ForgeCraftEngine/Vendor/Vendor/imgui"]
	path = ForgeCraftEngine/Vendor/Vendor/imgui
	url = https://github.com/ocornut/imgui
